.reservationListTitle {
  text-align: center;
  margin: auto;
  max-width: 20rem;
}

.reservationListContent {
  list-style: none;
  padding: 1rem 0 2.5rem 0;
  margin: 0;
  border-bottom: dashed #c0c0c0;
}

.reservationListName {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.reservationListDate {
  color: grey;
  margin: 0.5rem 0;
}

.detailsLink {
  color: red;
}

.notFoundTitle {
  max-width: 20rem;

  margin: 2rem auto;
  text-align: center;
}

.restaurantLink {
  color: red;
}
@media only screen and (min-width: 30rem) {
  .reservationListContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 2rem 0;
  }
  .reservationListName {
    grid-column: 1/2;
    margin: 0;
    text-align: left;
  }
  .reservationListDate {
    grid-column: 2/3;
    margin: 0;
    text-align: center;
  }
  .detailsLink {
    grid-column: 3/4;
    margin: 0;
    text-align: right;
  }

  .reservationListTitle {
    width: auto;
    white-space: nowrap;
  }
}
