.reservationTitle {
  text-align: center;
  margin: auto;
  max-width: 20rem;
}

.reservationCard {
  list-style: none;
  padding: 1rem 0 2.5rem 0;
  margin: 0;
  border-bottom: dashed #c0c0c0;
}

.reservationName {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.reservationDate {
  color: grey;
  margin: 0.5rem 0;
}

.detailsLink {
  color: red;
}

.notFoundTitle {
  max-width: 20rem;

  margin: 2rem auto;
  text-align: center;
}

.restaurantLink {
  color: red;
}
@media only screen and (min-width: 30rem) {
  .reservationList {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
  }
  .reservationName {
    grid-column: 1/2;
    margin: 0;
    text-align: left;
  }
  .reservationDate {
    grid-column: 2/3;
    margin: 0;
    text-align: center;
  }
  .detailsLink {
    grid-column: 3/4;
    margin: 0;
    text-align: right;
  }
  .reservationCard {
    padding: 2rem 0;
  }
  .reservationTitle {
    width: auto;
    white-space: nowrap;
  }
}
